.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
   not supported by any browser */
}
#header{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    z-index:1000;
    position:fixed;
    top:0;
    left:0;
    background: #fff;
}
#menu{
    position:fixed;
    top:0;
    left:0;
    z-index: 999;
}
.blue{color: #398BF8;}
.red{color: #F83939;}
.black{color: #1F242C;}

/*header s*/
.loan-header {
    width: 100%;
    height: 50px;
    line-height:50px;
    font-size: 18px;
}
.loan-header>div{
    padding: 0 22px;
    height :50px;
    width:100%;
    position: relative;
}

.loan-header .company {
    float: left;
    position: relative;
}

.loan-header .company img {
    width: 30px;
    heihgt: 30px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}

.loan-header .company span {
    margin-left: 50px;
}

.loan-header .person {
    float: right;
}

.loan-header .person .name {
    color: #707D8F;
    margin-right : 30px;
    cursor: pointer;
}

.loan-header .person .esc {
    color:#2592F2;
    margin-right : 20px;
    cursor: pointer;
}
.loan-header .person img{
    margin-right:5px;
}
.loan-header .name .loginName{
    font-weight: normal;
}
.loan-header  div .mine-info-box{
    width:266px;
    height : 106px;
    border: 1px solid #E1E1E1;
    position: absolute;
    top:45px;
    right :50px;
    background:#fff;
    border-radius: 3px;
    border:1px solid #E1E1E1;
    font-size:12px;
    color:#707D8F;
    padding:5px 10px 0 10px;
    display: none;
}
.loan-header  div .mine-info-box>div{
    float: left;
    width:55%;
}
.loan-header  div .mine-info-box>div:nth-child(1){
    width:45%;
}
.loan-header  div .mine-info-box>div>div{
    height:30px;
    line-height:30px;
}
.mine-info-box .mine-info-reset{
    border-top:1px dashed #E5E5E5;
    clear: both;
    width:100%!important;
    text-align: center;
    height:40px;
    line-height: 40px;
    color:#398BF8;
    cursor: pointer;
}
.mine-info-box .mine-info-reset img{
    vertical-align: middle;
    margin:0 5px 3px 0;
}
.mine-info-box .triangle img{
    /*width: 0!important;*/
    /*height: 0;*/
    /*border-width: 8px;*/
    /*border-style: solid;*/
    /*border-color:transparent transparent #E1E1E1 transparent;*/
    position:absolute;
    top:-8px;
    left:115px;
}

/*header e*/
/*一级导航s*/
.menu-box {
    background: #242A33;
    width: 200px;
    height :100%;
    color:#677383;
    position: fixed;
    top : 0;
    left:0;
    overflow-y: auto;
    overflow-x: hidden;
    /*z-index:999;*/
    margin-top : 50px;
}
.menu-box aside {
    background:#242A33;
    overflow-y: auto;
    overflow-x: hidden;
    color:#677383;
    overflow: hidden;
}

.first-menu .first-con {
    font-size: 14px;
}

.first-menu .menu-item {
    padding-left: 62px;
    position: relative;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    border-bottom:1px solid #2E363F;
}
.first-menu .menu-item.arrow {
    background: url(../images/arrow.png) right 14px center no-repeat;
}
.first-menu .menu-item.active{
    color:#fff;
    background: url(../images/menu_active.png) left center no-repeat;
    background-color: #1D62AC;
}
.first-menu .menu-desc.active{
     color:#fff;
     background: url(../images/menu_active2.png) left center no-repeat;
     background-color: #1D62AC;
 }
.ovfHiden{
    overflow: hidden;height: 100%;
}
/*.rotate{*/
    /*transform: rotate(90deg);*/
/*}*/
/*一级导航e*/
/*二级导航s*/
.first-menu .first-con .second-menu {
    display: none;
    background-color: #2F3640;
    color: #B1B1B1;
    font-size: 14px;
}
.second-menu  .second-con {
    position: relative;
}
.menu-desc {
    padding-left: 65px;
    height: 45px;
    line-height: 45px;
    background: #2F3640;
    font-size: 14px;
    cursor: pointer;
}

.menu-desc:hover {
    color: #fff;
    background: #1F242C;
}
/*二级导航e*/
/*修改密码s*/
body .reset-password {
    background: #FAFBFE;
    height: 100%;
    padding: 0 20px 40px;
    overflow: hidden;
    display: none;
}
.reset-password .password-box{
    padding:20px 0 20px 30%;
    background:#fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
.reset-password .item-position{
    font-size:14px;
    color:#2383E2;
    height:50px;
    line-height: 50px;
    border-bottom:1px solid #A0D5FF;
}
.reset-password .item-position img{
    margin-right:5px;
    vertical-align:middle;
}
.password-con-box>div{
    height:50px;
    line-height:50px;
    font-size:14px;
    color:#1F242C;
}
.password-con-box>div>span{
    width:10%;
    line-height:30px;
    height:30px;
    text-align: right;
    display: inline-block;
    margin-right:10px;
}
.password-con-box>div>input{
    padding: 0 10px;
    border:1px solid #D9D9D9;
    border-radius:4px;
    overflow: hidden;
    height:34px;
    line-height:34px;
    width:186px;
}
.password-box .reset-password-button{
    background: #398BF8;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    margin: 15px 0 0 15%;
    text-align: center;
    cursor: pointer;
}
/*修改密码e*/
/*  错误信息弹框 */
.error-msg {  display: none;  position: fixed;  top: 35%;  left: 50%;  margin-left: -156px; padding: 6px;  width: 300px;  line-height: 30px;  font-size: 14px;  color: #FFFFFF;  text-align: center;  border-radius: 5px;  background-color: rgba(0, 0, 0, 0.5); z-index: 1010; /*transform: scale(0);*/ /*-webkit-transform: scale(0);*/ /*transform-origin: 50% 80%;*/ /*transition: all .5s;*/  }
.error-msg.active { display: block; /*transform: scale(1);*/ /*-webkit-transform: scale(1);*/  }
.ticket-loading{ display: none;}

.mask {
    background: rgba(0,0,0,0.5);
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}
/*loading动画*/
.loading-img{
    z-index:1002;width:100%;position:absolute;display: none;
}
.loading-img>img{
    margin: 17% 45%;
    width: 10%;position: fixed;top: 0;left: 0;
}



/**菜单icon*/
.first-menu i{
    vertical-align: middle;
    position: absolute;
    left: 32px;
    top: 18px;
    height: 15px;
    width: 15px;
    font-size:30px;
}
.second-con i{
    top: 13px;
}
.icon_sign {
    background: url(../images/sprite.png) -0px -0px no-repeat;
}
.icon_credit {
    background: url(../images/sprite.png) -15px -0px no-repeat;
}
.icon_info_manage {
    background: url(../images/sprite.png) -45px -0px no-repeat;
}
.icon_operate {
    background: url(../images/sprite.png) -60px -0px no-repeat;
}
.icon_permission {
    background: url(../images/sprite.png) -75px -0px no-repeat;
}
.icon_permission2 {
    background: url(../images/sprite.png) -90px -0px no-repeat;
}
.icon_reject {
    background: url(../images/sprite.png) -105px -0px no-repeat;
}
.icon_role {
    background: url(../images/sprite.png) -120px -0px no-repeat;
}
.icon_feedback {
    background: url(../images/sprite.png) -135px -0px no-repeat;
}
.icon_system {
    background: url(../images/sprite.png) -150px -0px no-repeat;
}
.icon_system_set {
    background: url(../images/sprite.png) -165px -0px no-repeat;
}
.icon_user {
    background: url(../images/sprite.png) -180px -0px no-repeat;
}
.icon_user_info {
    background: url(../images/sprite.png) -195px -0px no-repeat;
}
.icon_apply_record {
    background: url(../images/sprite.png) -210px -0px no-repeat;
}
.icon_approval {
    background: url(../images/sprite.png) -225px -0px no-repeat;
}
.icon_approval_history {
    background: url(../images/sprite.png) -240px -0px no-repeat;
}
.icon_approval_list {
    background: url(../images/sprite.png) -255px -0px no-repeat;
}
.icon_contract {
    background: url(../images/sprite.png) -270px -0px no-repeat;
}
.icon_contract2 {
    background: url(../images/sprite.png) -30px -0px no-repeat;
}

/*修改密码s*/
body .reset-password {
    background: #FAFBFE;
    height: 100%;
    padding: 0 20px 40px;
    overflow: hidden;
    display: none;
}
.reset-password .password-box{
    padding:20px 0 20px 30%;
    background:#fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
.reset-password .item-position{
    font-size:14px;
    color:#2383E2;
    height:50px;
    line-height: 50px;
    border-bottom:1px solid #A0D5FF;
}
.reset-password .item-position img{
    margin-right:5px;
    vertical-align:middle;
}
.password-con-box>div{
    height:50px;
    line-height:50px;
    font-size:14px;
    color:#1F242C;
}
.password-con-box>div>span{
    width:10%;
    line-height:30px;
    height:30px;
    text-align: right;
    display: inline-block;
    margin-right:10px;
}
.password-con-box>div>input{
    padding: 0 10px;
    border:1px solid #D9D9D9;
    border-radius:4px;
    overflow: hidden;
    height:34px;
    line-height:34px;
    width:186px;
}
.password-box .reset-password-button{
    background: #398BF8;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    margin: 15px 0 0 15%;
    text-align: center;
    cursor: pointer;
}
/*修改密码e*/
.mt5{margin-top: 5px}
.mt6{margin-top: 6px}
.mt7{margin-top: 7px}
.mt8{margin-top: 8px}
.mt9{margin-top: 9px}
.mt10{margin-top: 10px}
.mt10{margin-top: 10px}
.mt11{margin-top: 11px}
.mt12{margin-top: 12px}
.mt13{margin-top: 13px}
.mt14{margin-top: 14px}
.mt15{margin-top: 15px}
.mt16{margin-top: 16px}
.mt17{margin-top: 17px}
.mt18{margin-top: 18px}
.mt19{margin-top: 19px}
.mt20{margin-top: 20px}
.mt21{margin-top: 21px}
.mt22{margin-top: 22px}
.mt23{margin-top: 23px}
.mt24{margin-top: 24px}
.mt25{margin-top: 25px}
.mt26{margin-top: 26px}
.mt27{margin-top: 27px}
.mt28{margin-top: 28px}
.mt29{margin-top: 29px}
.mt30{margin-top: 30px}

.mb5{margin-bottom: 5px}
.mb6{margin-bottom: 6px}
.mb7{margin-bottom: 7px}
.mb8{margin-bottom: 8px}
.mb9{margin-bottom: 9px}
.mb10{margin-bottom: 10px}
.mb10{margin-bottom: 10px}
.mb11{margin-bottom: 11px}
.mb12{margin-bottom: 12px}
.mb13{margin-bottom: 13px}
.mb14{margin-bottom: 14px}
.mb15{margin-bottom: 15px}
.mb16{margin-bottom: 16px}
.mb17{margin-bottom: 17px}
.mb18{margin-bottom: 18px}
.mb19{margin-bottom: 19px}
.mb20{margin-bottom: 20px}
.mb21{margin-bottom: 21px}
.mb22{margin-bottom: 22px}
.mb23{margin-bottom: 23px}
.mb24{margin-bottom: 24px}
.mb25{margin-bottom: 25px}
.mb26{margin-bottom: 26px}
.mb27{margin-bottom: 27px}
.mb28{margin-bottom: 28px}
.mb29{margin-bottom: 29px}
.mb30{margin-bottom: 30px}

.pt5{padding-top: 5px}
.pt6{padding-top: 6px}
.pt7{padding-top: 7px}
.pt8{padding-top: 8px}
.pt9{padding-top: 9px}
.pt10{padding-top: 10px}
.pt10{padding-top: 10px}
.pt11{padding-top: 11px}
.pt12{padding-top: 12px}
.pt13{padding-top: 13px}
.pt14{padding-top: 14px}
.pt15{padding-top: 15px}
.pt16{padding-top: 16px}
.pt17{padding-top: 17px}
.pt18{padding-top: 18px}
.pt19{padding-top: 19px}
.pt20{padding-top: 20px}
.pt21{padding-top: 21px}
.pt22{padding-top: 22px}
.pt23{padding-top: 23px}
.pt24{padding-top: 24px}
.pt25{padding-top: 25px}
.pt26{padding-top: 26px}
.pt27{padding-top: 27px}
.pt28{padding-top: 28px}
.pt29{padding-top: 29px}
.pt30{padding-top: 30px}


.pb5{padding-bottom: 5px}
.pb6{padding-bottom: 6px}
.pb7{padding-bottom: 7px}
.pb8{padding-bottom: 8px}
.pb9{padding-bottom: 9px}
.pb10{padding-bottom: 10px}
.pb10{padding-bottom: 10px}
.pb11{padding-bottom: 11px}
.pb12{padding-bottom: 12px}
.pb13{padding-bottom: 13px}
.pb14{padding-bottom: 14px}
.pb15{padding-bottom: 15px}
.pb16{padding-bottom: 16px}
.pb17{padding-bottom: 17px}
.pb18{padding-bottom: 18px}
.pb19{padding-bottom: 19px}
.pb20{padding-bottom: 20px}
.pb21{padding-bottom: 21px}
.pb22{padding-bottom: 22px}
.pb23{padding-bottom: 23px}
.pb24{padding-bottom: 24px}
.pb25{padding-bottom: 25px}
.pb26{padding-bottom: 26px}
.pb27{padding-bottom: 27px}
.pb28{padding-bottom: 28px}
.pb29{padding-bottom: 29px}
.pb30{padding-bottom: 30px}

