/*主要内容s*/
.customer-box{
    margin : 50px 0 0 200px;
    padding : 0 20px 40px;
    background:#FAFBFE;
    height : 100%;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
}
.customer-box h2{
    color:#398BF8;
    font-size:20px;
    height : 60px;
    line-height : 60px;
}

.search-box {
    padding: 16px 20px;
    display: flex;
    position: relative;
    height : 66px;
    line-height :66px;
    background:#fff;
    margin-bottom:1px;
}
.search-box img {
    height : 20px;
    width:2px;
    position:absolute;
    left: 0 ;
    top:50%;
    margin-top :-10px;
}

 .search-box ul {
    float: left;
}

.search-box .search {
    float: left;
    padding-right: 15px;
    height: 34px;
    margin-bottom: 16px;
}
.search-box .select-box{
    position: absolute;
    right: 170px;
    top: 50%;
    margin-top: -16px;
}

 .search-box .search .s-tit {
    line-height: 34px;
    font-size: 16px;
    color: #333;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

 .search-box .search .s-ipt {
    display: inline-block;
    height: 34px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    float: left;
     width:120px;
}

 .search-box .search .s-ipt .i-ipt {
    font-size: 14px;
    padding: 0 5px;
    line-height: 34px;
     width:100%;
     height :34px!important;
     vertical-align: top;
}

.search-box .find {
    height: 34px;
    line-height: 34px;
    width: 110px;
    color: #fff;
    background: #1EC0A0;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    position:absolute;
    right : 30px;
    top : 50%;
    margin-top : -16px;
}
.main-con{
    padding : 0 20px;
    background:#fff;
    /*overflow-x: auto;*/
    min-height : 740px;
}
.main-con .table-con,.tableConWrap .table-con{
    overflow-x: auto;
    min-height : 500px;
}
 .main-con thead tr {
    color: #999;
    background: #f8fbff;
    font-size: 14px;
border-bottom:1px solid #EEEFF0;
}
.main-con thead th{
    padding : 0 15px;
    white-space:nowrap;
    text-align: center;
}
.main-con tbody td{
    padding : 0 15px;
    white-space:nowrap;
    text-align: center;
}

 .main-con tr,.tableConWrap tr {
    height: 45px;
    line-height: 45px;
    min-height: 45px;
    font-size: 14px;
    color:#333;
     border-bottom:1px solid #EEEFF0;
}

 .main-con tr:nth-child(2n),.tableConWrap tr:nth-child(2n){
    background: #F7F7F7 ;
}

 .main-con tr:nth-child(2n+1),.tableConWrap tr:nth-child(2n+1) {
    background: #fff;
}

 .main-con tbody tr:hover,.tableConWrap tbody tr:hover {
    background: #e9edf2;
}

.main-con td.detial a{
    color: #2c7efa;
    cursor: pointer;
    text-decoration: none;
}
.detial{
    color:#2c7efa;
    cursor: pointer;
}
.rejectCodeListWrap .detial {
    white-space:nowrap;
}
.detial span{
    color:#2c7efa;
}
.detail a{
    color:#398BF8;
    text-decoration: none;
}
.detial .ht-detail{
    margin-right : 10px;
    color:#2c7efa;
}
.detial .ht-download{
    color:#2c7efa;
    cursor: pointer;
}
.main-con .checkPending{
    font-size:14px;
}
.checkPending .checkPendingNum{
    color:red;
    font-size:14px;
    margin:0 3px;
}
.red{
    color:red;
}
/*主要内容e*/
/*系统配置修改s*/
.fix,.item-box{
    width:25%;
    /*height : 30%;*/
    height:260px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1),-1px -1px 5px rgba(0,0,0,0.1);
    border-radius: 4px;
    background:#fff;
    position: fixed;
    top:0;
    left: 0;
    right : 0;
    bottom : 0;
    margin : 18% 0 0 38%;
    display: none;
    z-index: 1002;
}
.fix .fix-con{
    padding : 15px 20px 0 20px;
    color:#333;
    font-size: 16px;
}
.fix .fix-head,.item-box .item-head{
    border-bottom: 1px solid #eee;
    height : 50px;
    line-height: 50px;
    margin:0 20px;
}
.fix .fix-con>span{
    display: block;
    text-align: left;
}
.fix .fix-con>input{
    border: 1px solid #eee;
    height : 40px;
    line-height: 40px;
    border-radius:4px;
    margin : 20px 0 30px 0;
    width:100%;
    padding :0 10px;
}
.fix .button-box,.item-box .button-box{
    padding : 0 15%;
    margin-top:15px;
}
.fix .button-box button,.item-box .button-box button{
    width:30%;
    height : 30px;
    border-radius: 4px;
}
.fix .button-box .sure,.item-box .button-box .item-sure{
    background: #398BF8;
    color: #fff;
}
.fix .button-box .cancle,.item-box .button-box .item-cancle{
    float: right;
}
.search-box .refresh{
    position:absolute;
    right: 170px;
    top: 50%;
    margin-top: -16px;
    height: 34px;
    line-height: 34px;
    background:#1EC0A0;
    color:#fff;
    font-size:16px;
    border-radius:4px;
    width:110px;
    text-align: center;
    cursor: pointer;
}
/*添加项目s*/
.item-box{
    width:25%;
    height : 40%;
}
.add-item{
    background: #1EC0A0;
    padding : 0 20px;
    height: 34px;
    line-height: 34px;
    color:#fff;
    border-radius :4px;
    cursor: pointer;
}
.item-box .item-body{
    padding:10px 20px 0 20px;
}
.item-box .item-body .item-con{
    padding:10px 0;
}
.item-box .item-body .item-con>span{
    width : 15%;
    margin-right : 10px;
    font-size:14px;
    text-align: left;
    display: inline-block;
}
.item-box .item-body .item-con>input{
    width:70%;
    border:1px solid #eee;
    border-radius:4px;
    padding:0 10px;
    line-height :30px;
    font-size:14px;
}
.item-box .button-box{
    padding : 0 15%;
}
.item-box .item-body .item-con>select{
    border :1px solid #eee;
    border-radius :4px;
    width:70%;
    line-height :32px;
    font-size:14px;
    height : 32px;
}

/*添加项目e*/
/*系统配置修改e*/
/*冻结账户提示框s*/
.msg-box{
    width:368px;
    heihgt : 141px;
    border-radius: 3px;
    background :#fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1),-1px -1px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 35%;
    left: 50%;
    margin-left: -184px;
    z-index:1002;
    display: none;
}
.msg-box .msg-con{
    width:100%;
    height:73px;
    line-height : 73px;
    text-align: center;
    font-size : 18px;
}
.msg-box .msg-btn{
    width:100%;
    height : 66px;
    border-top:1px solid #EEEFF0;
    padding : 15px 60px;
    font-size: 16px;
}
.msg-box .msg-btn button{
    width:110px;
    height : 36px;
    border-radius : 3px;
}
.msg-box .msg-btn .sure-btn{
    color:#fff;
    background:#398BF8;
    margin-right : 23px;
}
.msg-box .msg-btn .cancel-btn{
    color:#7F8A97;
    background:#E9EDF2;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
/*冻结账户提示框e*/

/*审批队列-订单锁定*/
.table-con .table .lock{
    cursor: default;
    color: #A2A2A2;
}

/*信息管理-客户反馈*/
.newWrap{
    /*background: #fafbfe;*/
    /*min-width: 1080px;*/
    margin: 0px 0px 0px 200px;
    padding-top: 50px;
}
.customer-box .newTitle{
    height: 50px;
    line-height: 50px;
    color: #2383E2;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    letter-spacing: -0.33px;
    position: relative;
    border-bottom: 1px #0DAFFF solid;
}
.customer-box .newTitle span{
    padding-left: 4px;
}
.customer-box .newTitle>span a{
    color: #2383E2;
}
.customer-box .newTitle img{
    vertical-align: middle;
}
.customer-box .newTitle i{
    position: absolute;
    top: 20px;
    font-size: 20px;
}
.customer-box .queryWrap{
    /*height: 60px;*/
    padding: 15px 1.4vw 15px;
    margin-bottom: 21px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(226,226,226,0.50);
    border-top: 1px solid #A0D5FF;
    display: flex;
    justify-content: space-between;
}
.queryWrap img{
    padding-top: 5px;
}
.customer-box .queryWrapBox,
.customer-box .detailBox{
    display: flex;
    justify-content: space-between;
}
.customer-box .detailBox label,
.searchBox .searchList label{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #1F242C;
    letter-spacing: -0.34px;
    padding: 6px 0.8vw 0 0;
}
.customer-box .detailBox .optionList{
    position: relative;
    min-width: 140px;
    height: 30px;
    font: 12px/30px MicrosoftYaHei;
    color: #2D323A;
    letter-spacing: -0.29px;
    background: #F9F9F9;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}
.customer-box .detailBox .optionList .showCon,
.customer-box .detailBox .optionList input{
    display: flex;
    width: 10.9vw;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}
.customer-box .detailBox .optionList input{
    background: #F9F9F9 url("../images/date.png") no-repeat 9vw 5px;
    height: 28px;
    width: 10.5vw;
    border-radius: 4px;
    padding-left: 0.8vw;
}
.customer-box .detailBox .optionList .detailCon{
    padding-left: 0.8vw;
}
.customer-box .detailBox .optionList .showCon .trigonDown{
    user-select: none;
    padding-right: 0.8vw;
}
.customer-box .detailBox .optionList .showCon img{
    color: #67757C;
}
.customer-box .detailBox .optionList ul{
    min-width: 140px;
    width: 10.9vw;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    border-radius: 2px;
    max-height: 150px;
    overflow-y: auto;
    cursor: pointer;
    display: none;
}
.customer-box .detailBox .optionList ul li{
    padding-left: 10px;
}
.customer-box .detailBox .optionList ul li:hover,
.listOfOptions ul li:hover{
    background: #F2F2F2;
}
.customer-box .queryBtn>div{
    display: inline-block;
    width: 70px;
    height: 30px;
    background: #16C0D4;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1.37px;
    line-height: 30px;
    margin-left: 1.1vw;
    cursor: pointer;
}
.customer-box .queryBtn>div img{
    float: left;
    padding: 8px 5px 0 10px;
}
.condition{
    padding-left: 1.9vw;
}
.startTime{
    padding-left: 1.1vw;
}
.endTime{
    padding-left: 0.6vw;
}
/*表格*/
.feedbackList{
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-shadow: 0 2px 4px 0 rgba(226,226,226,0.50);
    font-family: MicrosoftYaHei;
    font-size: 14px;
    letter-spacing: -0.29px;
    cursor: pointer;
}
.feedbackList .ListTable{
    margin-bottom: 0;
}
.feedbackList .ListTable a{
    color: #2383E2;
}

.feedbackList .ListTable th,
.feedbackList .ListTable td{
    text-align: center;
    padding: 0;
    height: 38px;
    line-height: 38px;
}
.feedbackList thead{
    background: #F0F7FC;
    color: #5474A4;
}
.feedbackList tbody{
    color: #1F242C;
}
.feedbackList tbody tr{
    border-bottom: 1px solid #EEEFF0;
}
.feedbackList tbody tr:nth-child(2n){
    background: #F6F6F6;
}
.feedbackList tbody tr td:last-child{
    color: #2383E2;
}
.feedbackList .showDetail{
    width: 10vw;
    min-width: 70px;
}
.feedbackList .showDetail img{
    display: inline-block;
    padding: 0px 5px 0 0;
    vertical-align: middle;
}
.feedbackList .ListTable .omitWrap{
    width: 16vw;
    padding-left: 6vw;
    position: relative;
}
.feedbackList .overflowOmit{
    width: 88px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.showAllPlace,
.fkshowAllPlace{
    position: absolute;
    padding: 0px 5px;
    top:-21px;
    left:3%;
    width: 150%;
    min-height: 20px;
    background: #242A33;
    border-radius: 3px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #FFFFFF;
    white-space: normal;
    display: none;
    z-index: 1005;
 }
.omitWrap .fkshowAllPlace{
    top:32px;
}
.showAllPlace span{
    position: absolute;
    top: 100%;
    left: 30%;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid #242A33;
}
.showAllPlace .showAng{
    top: -6px;
    border-bottom: 6px solid #242A33;
    border-top: none;
}
.omitWrap:hover .showAllPlace{
    display: block;
}
.feedbackList .table .leftAligned{
    text-align: left;
    padding-left: 3vw;
}
/*详情弹框*/
.bouced{
    width: 70%;
    z-index: 1005;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(100,100,100,0.50);
    border-radius: 4px;
    /*top: 8%;*/
    left: 15%;
}
.bouced .detailTitle{
    background: #E9EDF2;
    border-radius: 4px 4px 0 0;
    height: 34px;
    color: #1F242C;
    letter-spacing: -0.34px;
    font: 14px/34px PingFangSC-Regular;
    padding: 0 17px 0 20px;
    user-select:none;
}

.bouced .detailTitle .audit-close{
    float: right;
    cursor: pointer;
    color: #677383;
    font-size: 20px;
    border-radius: 4px;
}
.move_part {
    cursor: move;
}
.detailBody{
    padding: 19px 28px 40px 36px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #1F242C;
    letter-spacing: 0;
    line-height: 30px;
}
.detailBodyList{
    height:auto;
    overflow: auto;
    text-align: center;
}
.showBigImg{
    position: absolute;
    top: 55px;
    left: -20px;
    z-index: 1007;
    background: #ddd;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    display: none;
    overflow: hidden;
}
.showBigImg img{
    width: 279px;
    height: 199px;
}
.detailBody:after{
    content:"";
    height:0;
    line-height:0;
    display:block;
    visibility:hidden;
    clear:both;
}
.detailBody label{
    float: left;
    width: 70px;
    text-align: right;
    word-break: break-all;
}
.detailBody span,
.slideshowImg,
.bouced textarea{
    float: left;
    padding-left: 5px;
    width: 85%;
    word-break: break-all;
}
.detailBodyList #cusDepict,.detailBodyList #cusAccount,.detailBodyList #cusName,.detailBodyList #cusIphoneNum,.detailBodyList #cusTag,.detailBodyList #cusTime,.detailBodyList .treatment,.detailBodyList .conductor,.detailBodyList .processing{
    text-align: left;
}
.slideshowImg{
    position: relative;
}
.slideshowImg .swiper-container{
    height: 50px;
    margin-left: 22px;
    margin-right: 30px;
}
.detailBody .swiper-slide{
    background: #F8F8F8;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
}
.detailBody .swiper-slide img{
    width: 68px;
    height: 48px;
    display: block;
    cursor: pointer;
    user-select: none;
}
.detailBody .swiper-button-prev,
.detailBody .swiper-button-next{
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    height: 50px;
    width: 20px;
    font-size: 20px;
    top: 22px;
}
.detailBody .swiper-button-prev{
    background: #F4F4F4 url("../images/left_arrow.png") no-repeat center;
    left: 5px;
}
.detailBody .swiper-button-next{
    background: #F4F4F4 url("../images/right_arrow.png") no-repeat center;
    right: 7px;
}
.bouced textarea{
    margin-top: 7px;
    width: 262px;
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}
.submitBtn{
    margin-top: 22px;
    background: #2592F2;
    border-radius: 4px;
    width: 80px;
    height: 30px;
    color: #FFFFFF;
    letter-spacing: 1.56px;
    font: 14px/30px PingFangSC-Regular;
}

/*权限管理-权限列表*/
.limitsWrap .add_user_tit{
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #2383E2;
    letter-spacing: -0.34px;
    padding-bottom: 13px;
    cursor: pointer;
    width: 85px;
    /*height: 30px;*/
    line-height: 30px;
}
.limitsWrap .add_user_tit img{
    padding: 8px 0 0 5px;
    cursor: pointer;
    display: block;
    float: right;
}
.customer-box .limitsWrap{
    display: block;
    padding-bottom: 0px;
}
.searchBox{
    padding-top: 17px;
    padding-bottom: 17px;
    border-top: 1px dashed #D9D9D9;
}
.limitsWrap .searchList input,
.limitsWrap .searchList ul{
    color: #2D323A;
    letter-spacing: -0.29px;
    width: 10.9vw;
}
.limitsWrap .searchList input {
    padding-left: 0.7vw;
    height: 30px;
    border-radius: 4px;
    font:12px/30px MicrosoftYaHei;
}
.limitsWrap .searchList img{
    position: absolute;
    top: 7px;
    left: 9.8vw;
}
.cludeBox{
    width:100%;
    height : 100%;
    z-index:5;
    position:absolute;
    left:0;
    top:0;
}
.limitsWrap .searchList .selectRole{
    border: 1px solid #D9D9D9;
    background: #F9F9F9;
    cursor: pointer;
}
.limitsWrap .searchList #inpName{
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
}

.limitsWrap .searchList #idCard{
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
}
.limitsWrap .searchList ul,
.listOfOptions ul{
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    top: 31px;
    left: 0px;
    font: 12px/29px MicrosoftYaHei;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    border-radius: 2px;
    background: #FFFFFF;
    display: none;
}
.limitsWrap .searchList ul li{
    padding-left: 0.7vw;
}
.limitsWrap .searchList ul li:hover{
    background: #F2F2F2;
}
.limitsWrap .searchList .roleBox,
.limitsWrap .searchBox,
.limitsWrap .searchList{
    display: flex;
}
.limitsWrap .searchBox{
    justify-content: space-between;
}
.limitsWrap .searchList .inpBox,
.listOfOptions .row .inpBox{
    cursor: pointer;
    position: relative;
}
.limitsWrap .roleBox {
    margin-left: 1.9vw;
}
.limitsWrap .idCardBox{
    margin-left: 1.9vw;
}
.searchBtn{
    background: #16C0D4;
    border-radius: 4px;
    height: 30px;
    width: 80px;
    font: 14px/30px PingFangSC-Regular;
    color: #FFFFFF;
    letter-spacing: 1.37px;
    box-sizing: border-box;
    position: relative;
}
.searchBtn img{
    float: left;
    position: absolute;
    top: 8px;
    left: 15px;
}
.limitsTable img{
    padding-right: 6px;
}
.limitsTable .redactTlt{
    margin-right: 10px;
}
.limitsTable .infoTlt{
    margin-right: 10px;
}
.limitsTable .ListTable .limitsShow{
    text-align: left;
    max-width: 200px;
}
.feedbackList .table tbody tr:hover{
    background: #e9edf2;
}
.customer-box .addUserHtml{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    display: block;
}
/*.listOfOptions{*/
    /*width: 80vw;*/
/*}*/
.listOfOptions .row{
    margin: 0;
    font-family: MicrosoftYaHei;
}
.listOfOptions .row>div{
    padding-bottom: 15px;
}
.listOfOptions .row:first-child div{
    padding-top: 15px;
}
.listOfOptions .row>div:first-child{
    /*border-right: 1px dashed #D9D9D9;*/
}
.listOfOptions .row .com-lab{
    width: 70px;
    margin-right: 3px;
    font-size: 14px;
    color: #8B94A0;
    letter-spacing: -0.34px;
    text-align: left;
}
.listOfOptions .row .com-span,
.listOfOptions .row .reminder{
    font-size: 12px;
    color: #1F242C;
    letter-spacing: -0.29px;
}
.listOfOptions .row .com-span{
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 4px;

    box-sizing: border-box;
    padding-left: 10px;
}

.listOfOptions .row .com-span-6{
    width: 450px;
    height: 30px;
    background: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-size: 12px;
    color: #1F242C;
    letter-spacing: -0.29px;
    box-sizing: border-box;
    padding-left: 10px;
}
.listOfOptions .row select{
    width: 150px;
    display: inline-block;
}
.listOfOptions .row .reminder{
    padding-left: 9px;
}
.submitBox{
    width: 100%;
    background: #fff;
    border-top: 1px dashed #D9D9D9;
    padding-top: 12px;
    display: flex;
    justify-content: center;
}
#submitBtn_infoUser,
#submitBtn_addUser,
#submitBtn_cancel,
#submitBtn_addRole,
#submitBtn_editRole{
    background: #398BF8;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 16px;
}
.listOfOptions ul{
    width: 200px;
    z-index: 1006;
    height: 180px;
    overflow-y: auto;
}
.listOfOptions ul li{
    padding-left: 10px;
}
.flexBox{
    display: flex;
    align-items: center;
}
.flexBox input{
    cursor: pointer;
    height: 28px;
    width: 160px;
    background: #fff;
}
.addRoleTit{
    /*height: 76px;*/
    border-bottom: 1px dashed #D9D9D9;
}
.addRoleTit .listOfOptions .row:first-child div{
    padding-top: 24px;
    border: none;
}
.addRoleTit .listOfOptions .row>div{
    padding-bottom: 22px;
}
.customer-box .addRoleWrap{
    padding: 0 0 21px;
    display: block;
}
.addRoleBox{
    padding: 22px 0 34px;
    display: flex;
    justify-content: flex-start;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    letter-spacing: -0.34px;
}
.addRoleBox .addRoleLeft{
    padding: 0px 11px 0px 31px;
    color: #8B94A0;
}
.addRoleBox .addRoleRight{
    border-left: 1px dashed #D9D9D9;
    padding-left: 15px;
}
.addRoleBox .addRoleRight input{
    outline: none;
}
.addRoleBox .addRoleRight dd{
    font-size: 12px;
    margin-left: 22px;
    line-height: 20px;
}
.addRoleBox .addRoleRight dt,
.addRoleBox .addRoleRight dd{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 12px;
    cursor: default;
}
.addRoleBox .addRoleRight dt input,
.addRoleBox .addRoleRight dd input{
    cursor: pointer;
}
.addRoleBox .addRoleRight dl:last-child dd:last-child{
    margin-bottom: 0px;
}
.addRoleBox input[type="checkbox"]{
    -webkit-appearance: none;
    /*border: 1px solid #B0B8BB;*/
    /*border-radius: 1px;*/
    height: 14px;
    width: 14px;
    background: #fff url("../images/checkbox.png") no-repeat -1px -1px;
    margin-right: 8px;
}
.addRoleBox input[type="checkbox"]:checked{
    background: #fff url("../images/checkbox.png") no-repeat -33px -1px;
}
.addRoleWrap .submitBox{
    padding-top: 20px;
}
.sureDel{
    width: 350px;
    height: 192px;
    z-index: 1002;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 20% 0 0 40%;
    border-radius: 4px;
}
.sureDel .sureDelREC{
    background: #fff;
    border-top: 1px solid #DFDFDF;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(100,100,100,0.50);
    position: absolute;
    left: 0px;
    top: 42px;
    width: 350px;
    height: 150px;
}
.sureDel .sureDelREC p{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #1F242C;
    letter-spacing: 0;
    padding: 40px 0 0 130px;
}
.sureDel .sureDelREC div{
    padding: 22px 0 0 80px;
}
.sureDel .sureDelREC div button{
    width: 80px;
    height: 30px;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 14px;

    letter-spacing: 0;
    line-height: 16px;
}
.sureDel .sureDelREC div .del_sure{
    background: #2592F2;
    color: #FFFFFF;
    margin-right: 19px;
}
.sureDel .sureDelREC div .del_cancel{
    background: #E9EDF2;
    border: 1px solid #DADADA;
    color: #7F8A97;
}
.sureDel .sureDelSicircle{
    width: 100px;
    height: 50px;
    border: 1px solid #DFDFDF;
    border-radius: 50px 50px 0 0;
    border-bottom: none;
    background: #fff;
    position: absolute;
    left: 125px;
    top: -7px;
}
.sureDel img{
    position: absolute;
    left: 145px;
    top: 15px;
}