<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bns.dao.user.BnsUserDao">
  <resultMap id="BaseResultMap" type="com.bns.model.user.BnsUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="wechat_code" jdbcType="VARCHAR" property="wechatCode" />
    <result column="qq_code" jdbcType="VARCHAR" property="qqCode" />
    <result column="age" jdbcType="TINYINT" property="age" />
    <result column="education" jdbcType="TINYINT" property="education" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="skill" jdbcType="VARCHAR" property="skill" />
    <result column="history" jdbcType="VARCHAR" property="history" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="enterprise" jdbcType="VARCHAR" property="enterprise" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />

    <result column="entry_date" jdbcType="VARCHAR" property="entryDate" />
    <result column="leave_date" jdbcType="VARCHAR" property="leaveDate" />
    <result column="bank_card" jdbcType="VARCHAR" property="bankCard" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bns_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bns.model.user.BnsUser">
    insert into bns_user (id, name, mobile, 
      id_card, sex, nation, 
      address, create_time, wechat_code, 
      qq_code, age, education, 
      source, skill, history, 
      job,city,enterprise,remark,
      entry_date,leave_date,bank_card,bank_name
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{nation,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, now(), #{wechatCode,jdbcType=VARCHAR},
      #{qqCode,jdbcType=VARCHAR}, #{age,jdbcType=TINYINT}, #{education,jdbcType=TINYINT}, 
      #{source,jdbcType=VARCHAR}, #{skill,jdbcType=VARCHAR}, #{history,jdbcType=VARCHAR}, 
      #{job,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR},#{enterprise,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},
      #{entryDate,jdbcType=TIMESTAMP},#{leaveDate,jdbcType=TIMESTAMP},#{bankCard,jdbcType=VARCHAR},#{bankName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bns.model.user.BnsUser">
    update bns_user
    set name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      nation = #{nation,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      wechat_code = #{wechatCode,jdbcType=VARCHAR},
      qq_code = #{qqCode,jdbcType=VARCHAR},
      age = #{age,jdbcType=TINYINT},
      education = #{education,jdbcType=TINYINT},
      source = #{source,jdbcType=VARCHAR},
      skill = #{skill,jdbcType=VARCHAR},
      history = #{history,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      del_flag = #{delFlag,jdbcType=TINYINT},
      enterprise = #{enterprise,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      entry_date = #{entryDate,jdbcType=TIMESTAMP},
      leave_date = #{leaveDate,jdbcType=TIMESTAMP},
      bank_card = #{bankCard,jdbcType=VARCHAR},
      bank_name =  #{bankName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, mobile, id_card, sex, nation,city, address, create_time, wechat_code,
    qq_code, age, education, source, skill, history, job
    from bns_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, mobile, id_card, sex, nation, address, create_time, wechat_code, 
    qq_code, age, education, source, skill, history, job
    from bns_user
  </select>

  <select id="getCity" resultType="java.lang.String">
     select DISTINCT city from bns_user where city is not null
  </select>
  <!-- 查询列表 cl_t_user  -->
  <select id="findPaging" parameterType="com.bns.api.user.param.UserReqParam" resultMap="BaseResultMap">
    select *
    from bns_user t1
    where 1=1 and del_flag = 1
    <if test="name != null and name != ''">
      and t1.name like '%${name}%'
    </if>
    <if test="mobile != null and mobile != ''">
      and t1.mobile like '%${mobile}%'
    </if>
    <if test="idCard != null and idCard != ''">
      and t1.id_card = #{idCard}
    </if>
    <if test="sex != null and sex != 0">
      and t1.sex = #{sex}
    </if>
    <if test="status != null and status != 0">
      and t1.status = #{status}
    </if>
    <if test="education != null and education != 0">
      and t1.education = #{education}
    </if>
    <if test="minAge != null and minAge != 0">
      and t1.age >= #{minAge}
    </if>
    <if test="maxAge != null and maxAge != 0">
      <![CDATA[and t1.age <= #{maxAge} ]]>
    </if>
    <if test="city != null and city != ''">
      and t1.city like '%${city}%'
    </if>
    <if test="source != null and source != ''">
      and t1.source like '%${source}%'
    </if>
    <if test="department != null and department != ''">
      and t1.enterprise = #{department}
    </if>
    ORDER BY t1.create_time DESC
  </select>
</mapper>