<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bns.dao.resourceinfo.ResourceInfoDao">
  <resultMap id="BaseResultMap" type="com.bns.model.resource.ResourceInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile1" jdbcType="VARCHAR" property="mobile1" />
    <result column="mobile2" jdbcType="VARCHAR" property="mobile2" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="bank_card" jdbcType="VARCHAR" property="bankCard" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_address" jdbcType="VARCHAR" property="bankAddress" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="supplier_lev" jdbcType="VARCHAR" property="supplierLev" />
    <result column="distribution" jdbcType="TINYINT" property="distribution" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="TINYINT" property="type" />
  </resultMap>
  <insert id="insert" parameterType="com.bns.model.resource.ResourceInfo">
    insert into resource_info ( name, mobile1, mobile2, id_card,
      sex, region,bank_card,bank_name,bank_address,company,
      address, supplier_lev,distribution,type,create_time
      )
    values ( #{name,jdbcType=VARCHAR}, #{mobile1,jdbcType=VARCHAR},
      #{mobile2,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT},
      #{region,jdbcType=VARCHAR},#{bankCard,jdbcType=VARCHAR},#{bankName,jdbcType=VARCHAR},
      #{bankAddress,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},
      #{supplierLev,jdbcType=VARCHAR}, #{distribution,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}, now()
      )
  </insert>


  <!-- 查询列表 cl_t_user  -->
  <select id="findPaging" parameterType="com.bns.api.resourceinfo.param.ResourceReqParam" resultMap="BaseResultMap">
    select *
    from resource_info t1
    where 1=1 and del_flag = 1
    <if test="id != null and id != 0">
      and t1.id = #{id}
    </if>
    <if test="notThisId != null and notThisId != 0">
      and t1.id != #{notThisId}
    </if>
    <if test="name != null and name != ''">
      and t1.name like '%${name}%'
    </if>
    <if test="idCard != null and idCard != ''">
      and t1.id_card = #{idCard}
    </if>
    <if test="sex != null and sex != 0">
      and t1.sex = #{sex}
    </if>
    <if test="type != null and type != 0">
      and t1.type = #{type}
    </if>

    <if test="company != null and company != ''">
      and t1.company = #{company}
    </if>
    <if test="region != null and region != ''">
      and t1.region = #{region}
    </if>
    <if test="distribution != null and distribution != 0">
      and t1.distribution = #{distribution}
    </if>
    ORDER BY t1.create_time DESC
  </select>


  <update id="updateByPrimaryKey" parameterType="com.bns.model.resource.ResourceInfo">
    update resource_info
    set name = #{name,jdbcType=VARCHAR},
    mobile1 = #{mobile1,jdbcType=VARCHAR},
    mobile2 = #{mobile2,jdbcType=VARCHAR},
    id_card = #{idCard,jdbcType=VARCHAR},
    sex = #{sex,jdbcType=TINYINT},
    address = #{address,jdbcType=VARCHAR},
    del_flag = #{delFlag,jdbcType=TINYINT},
    bank_card = #{bankCard,jdbcType=VARCHAR},
    bank_name =  #{bankName,jdbcType=VARCHAR},
    bank_address =  #{bankAddress,jdbcType=VARCHAR},
    company =  #{company,jdbcType=VARCHAR},
    region = #{region,jdbcType=VARCHAR},
    distribution = #{distribution,jdbcType=TINYINT},
    supplier_lev =  #{supplierLev,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from resource_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getCompany" resultType="java.lang.String" parameterType="java.lang.Integer">
    select DISTINCT company from resource_info where company is not null and company !='' and del_flag =1 and type = #{type}
  </select>

  <select id="getRegion" resultType="java.lang.String"  parameterType="java.lang.Integer">
    select DISTINCT region from resource_info where region is not null and region !='' and del_flag =1 and type = #{type}
  </select>
</mapper>