<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bns.dao.sys.SysEnterpriseDao" >
  <resultMap id="BaseResultMap" type="com.bns.model.sys.SysEnterpriseDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="en_code" property="enCode" jdbcType="VARCHAR" />
    <result column="enterprise" property="enterprise" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result property="remark" column="remark" jdbcType="VARCHAR" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from sys_enterprise
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_enterprise
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.bns.model.sys.SysEnterpriseDTO" >
    insert into sys_enterprise (en_code, enterprise,
    create_date, remark)
    values (#{enCode,jdbcType=VARCHAR}, #{enterprise,jdbcType=VARCHAR},
    now(),#{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bns.model.sys.SysEnterpriseDTO" >
    update sys_enterprise
    set en_code = #{enCode,jdbcType=VARCHAR},
      enterprise = #{enterprise,jdbcType=VARCHAR},
      update_date = now(),
      remark = #{remark,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryEnterprise" resultMap="BaseResultMap">
      select * from sys_enterprise where del_flag = 1
  </select>

  <resultMap id="EnterpriseVoList" type="com.bns.api.sys.vo.SysEnterpriseVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="en_code" property="enCode" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryEnterpriseByUserNo" resultMap="EnterpriseVoList" parameterType="java.lang.String" >
      SELECT en_no as id,en_code from sys_user_enterprise
      where user_no =#{userNo,jdbcType=VARCHAR}
  </select>

  <select id="queryAllEnterprise" resultMap="EnterpriseVoList" parameterType="java.lang.String" >
    select id,en_code from sys_enterprise where del_flag = 1
  </select>
  <insert id="batchInsert" parameterType="java.util.List"
          useGeneratedKeys="true">
    insert into sys_user_enterprise (user_no, user_name,en_no,en_code,create_date)
    values
    <foreach collection="list" item="dto" index="index" separator=",">
      (
      #{dto.userNo},#{dto.userName},#{dto.enNo},#{dto.enCode},now()
      )
    </foreach>
  </insert>

  <delete id="deleteByUserNo" parameterType="java.lang.String" >
    delete from sys_user_enterprise where user_no = #{userNo,jdbcType=VARCHAR}
  </delete>


  <select id="getEnterPrise" resultType="java.lang.String" parameterType="java.lang.String" >
      SELECT GROUP_CONCAT(a.en_code SEPARATOR '、') as en_code
      FROM sys_user_enterprise a  where a.user_no = #{userNo}
  </select>

  <select id="getEnterpriseByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select *
    from sys_enterprise
    where en_code =  #{enCode,jdbcType=VARCHAR}
  </select>
</mapper>